/* Write your CSS here */

.background {
  background-image: linear-gradient(to right, #fa7257, #fc63a7);
  background-size: cover;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head {
  color: #ffffff;
  font-size: 2.8rem;
}

.btn-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.btn {
  background-color: #ffffff;
  color: #dd1264;

  padding: 0.5rem 1rem;
  margin-bottom: 1.5rem;

  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sub-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 8rem;
  width: 18rem;

  background-color: #fddddb;
  border-radius: 8px;
}
